.one {
    background-color: navajowhite;
    width: 300px;
    text-align: center;
}

.two {
    background-color: navajowhite;
    width: 300px;
    text-align: center;
}
.three {
    background-color: navajowhite;
    width: 300px;
    text-align: center;
}
